@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --font-overpass: 'Overpass', sans-serif;
    --font-ubunto: 'Ubuntu', sans-serif;

    --color-light-red: hsl(356, 100%, 66%);
    --color-very-light-red: hsl(355, 100%, 74%);
    --color-very-dark-blue: hsl(208, 49%, 24%);

    --color-white: hsl(0, 0%, 100%);
    --color-grayish-blue: hsl(240, 2%, 79%);
    --color-very-dark-grayish-blue: hsl(207, 13%, 34%);
    --color-very-dark-black-blue: hsl(240, 10%, 16%);

    --color-very-light-red-gradient: hsl(13, 100%, 72%);
    --color-light-red-gradiente: hsl(353, 100%, 62%);
    --color-very-dark-gray-blue-gradient: hsl(237, 17%, 21%);
    --color-very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.header {
    color: var(--color-white);
    border-radius: 0 0 0 75px;
    /* background-color: var(--color-very-light-red-gradient); */
    background-image: url('../assets/bg-pattern-intro-desktop.svg'), linear-gradient(to right, var(--color-very-light-red-gradient), var(--color-light-red-gradiente));
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: 20% 50%;
}

.nav {
    padding: 3vw 10vw 1vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-ubunto);
}

.navbar {
    display: flex;
    align-items: center;

}

.navbar-links {
    display: flex;
    margin-left: 3vw;
}

.navbar-links-link {
    margin-right: 2vw;
    text-decoration: none;
    color: inherit;
}

.navbar-links-link-arrow {
    margin-left: .5ch;
}

.navbar-links-dropdown {
    list-style: none;

}

.navbar-dropdown-content {
    display: none;
}

.nav-buttons-button {
    padding: 1.5ch 4ch;
    border: none;
    background-color: transparent;
    color: var(--color-white);
}

#nav-button-singup {
    border-radius: 100px;
    background-color: var(--color-white);
    color: var(--color-light-red);
    font-weight: 700;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0vw 7vw 0vw;
    font-family: var(--font-overpass);
}

#titulo-titulo {
    font-size: 5ch;
}

#titulo-subtitulo {
    margin-top: 1ch;
    margin-bottom: 4ch;
}

.titulo-buttons-button {
    color: var(--color-white);
    width: 15ch;
    height: 5ch;
    background-color: transparent;
    border: var(--color-white) solid 1px;
    border-radius: 100px;
    font-weight: 700;
    font-family: var(--font-ubunto);
}

#titulo-button-start {
    background-color: var(--color-white);
    color: var(--color-light-red);
    margin-right: 1ch;
}